body {
    background-color: #CED4D8;
}

h1 {
    color: #AC6AC7;
}

h2 {
    color: rgb(255, 165, 0);
}

li {
    color: blue;
}

p {
    background-color: gold;
}

input {
    border: 5px dotted pink;
}

.first {
    background-color: #fff;
}

#important {
    border: 3px dashed #0000FF;
}

div p {
    font-size: 30px;
}

input[type="email"] {
    background-color: #808080;
}

div:nth-of-type(3) p {
    background-color: hotpink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 7px solid rgb(255, 255, 255);
}

div:nth-of-type(3) em {
    font-size: 25px;
    color: seashell;
}

:checked {
    margin-left: 40px;
}

label {
    text-transform: lowercase;
}

#important::first-letter {
    text-transform: uppercase;
    color: lime;
    font-size: 90px;
}

h1:hover {
    color: navy;
}

a:visited {
    color: silver;
}
